<h1><%= @tema.name -%></h1>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>
<% if @tema.libros.blank? %>
    <p>No hay libros asignados a este autor actualmente.</p>
<% else %>
    <ul>
        <% @tema.libros.each do |c| %>
        <li><%= link_to c.titulo, :action => "show", :controller => 'libro', :id => c.id -%></li>
        <% end %>
    </ul>
    <% end %>
    <%= link_to 'Al listado de temas', {:action => 'list'} %>
    <hr/>
    <%= link_to  "Volver al menú", {:action => 'home', :controller => 'welcome'} %>