<% if @libros.blank? %>
    <p>No hay libros en el sistema actualmente</p>
<% else %>
    <h4>Listado completo de libros</h4>

<ul id = "libros">
    <% @libros.each do |c| %>
    <li><b><%= link_to c.titulo, {:action => 'show', :id => c.id} -%></b>
        <%= link_to 'Editar', {:action => 'edit', :id => c.id} %>
        <%= link_to 'Eliminar', {:action => 'delete', :id => c.id}, data: {confirm: "¿Estás seguro de que quieres eliminar este libro?"} %>
    </li>
    <% end %>
</ul>
<% end %>
<p><%= link_to "Añadir libro nuevo", {:action => 'new' }%></p>
<hr/>
<%= link_to  "Volver al menú", {:action => 'home', :controller => 'welcome'} %>